body {
  margin: 0;
  padding: 0;
}
div.map, fieldset {
  position: fixed;
  width: 50%;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
}
div.map {
  bottom: 0;
}
fieldset select, fieldset .map-srch {
  margin: 5px;
}
fieldset select {
  width: 120px;
  float: right;
  height: 25px;
}
#map1, #fieldset1 {
  left: 50%;
}
.map-srch {
  display: inline-block;
  font-size: 12px;
  width: calc(100% - 140px);
  max-width: 375px;
}
.map-srch button {
  display: none;
}
.map-srch input {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  min-height: 21px;
}